:root{
--Desaturated-Red: hsl(0, 36%, 70%);
--Soft-Red: hsl(0, 93%, 68%);
--Dark-Grayish-Red: hsl(0, 6%, 24%);
--Linear: 135deg, from rgb(255, 255, 255), to rgb(255, 245, 245);
--Linear-Two: 135deg, from rgb(248, 191, 191), to rgb(238, 140, 140);
}
body{
  font-family: 'Josefin Sans',sans-serif;
  font-size: 16px;
}
.header{
  height: 75px;
  position: relative;
}
.header__img{
  max-width: 30%;
  position: absolute;
  top: 20px;
  left: 20px;
}

.main__title{
  text-align: center;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  font-size: 3em;
  font-weight: 700;
  color: var(--Dark-Grayish-Red);
  letter-spacing: 10px;
}
.main__remark{
  color: var(--Desaturated-Red);
}
.main__info{
  color: var(--Desaturated-Red);
  text-align: center;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}
.footer{
  margin-top: 50px;
  position: relative;
  margin-bottom: 25px;
}
.footer__email{
  display: block;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  outline: none;
  padding: 0.8em;
  border-radius: 25px;
  border: 1px solid var(--Desaturated-Red);
  text-align: center;
}
.footer__button{
  position: absolute;
  top: 0;
  right: 35px;
  width: 65px;
  height: 45px;
  border: none;
  outline: none;
  padding: 1em;
  border-radius: 75px;
  background: linear-gradient(135deg,rgb(248, 191, 191) , rgb(238, 140, 140));
}
.footer__arrow{
  position: absolute;
  width: 15px;
  top: 10px;
  right: 55px;
  z-index: 100;
}
.footer__link{
  color: var(--Desaturated-Red);
  text-align: center;
}
.footer__name{
  color: var(--Soft-Red);
  text-decoration: none;
}
.footer__error{
  text-align: center;
  color: var(--Soft-Red);
  display: none;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  transform: scale(0);
  transition: transform 0.5s;
}

.modal__content {
  position: relative;
  width: 300px;
  height: 150px;
  border-radius: 15px;
  background: linear-gradient(135deg, rgb(255, 255, 255), rgb(255, 245, 245));
}

.modal__img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
}

.modal__info {
  text-align: center;
  font-size: 1.5em;
  color: var(--Dark-Grayish-Red);
}

.modal__close {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.show {
  transform: scale(1);
}
@media screen and (min-width:1024px) {
  body{
    background-image: url('/images/bg-pattern-desktop.svg');
    background-repeat: no-repeat;
  }
  .header__img {
    left: 20%;
  }

  .container {
    display: flex;
    width: 85%;
    margin-right: auto;
    margin-left: auto;
    background:linear-gradient(135deg,rgb(255, 255, 255), rgb(255, 245, 245));
    box-shadow:  1px 1px 5px 1px var(--Dark-Grayish-Red);
  }
  .main__img{
    max-width: 100%;
    min-height: 100%;
    object-fit: cover;
  }

  .main__title,
  .main__info{
    text-align: left;
    width: 50%;
  }
  .main__title{
    font-size: 4em;
  }
  .container__img {
    order: 2;
  }
  .footer__email{
    width: 50%;
    position: relative;
  }
  .footer__button{
    right:25%;
    transition: transform 0.5s;
    cursor: pointer;
    
  }
  .footer__arrow{
    right: 28%;
    cursor: pointer;
  }
  .error{
    background-image:url('/images/icon-error.svg');
    background-repeat: no-repeat;
    background-position: 75% 10px;
  }
  .footer__button--send{
    transform: scale(1.1);
    box-shadow:1px 1px 5px 1px var(--Dark-Grayish-Red);
  }
  .footer__email--active{
    border: 1px solid var(--Soft-Red);
  }
  .footer__arrow--active{
    display: block;
  }
}